# Plantilla de configuración para el proyecto
# Copia este archivo a .env y ajusta tus propias credenciales
# IMPORTANTE!!: Nunca subas tu .env real al repositorio.

# Credenciales de Base de Datos
MONGO_ROOT_USERNAME=tu_usuario_aqui
MONGO_ROOT_PASSWORD=tu_contraseña_segura_aqui
MONGO_DATABASE=comerciotech_db

# Parámetros de Conexión y Pooling (CT-10/CT-11)
# MONGO_URI=mongodb://tu_usuario_aqui:tu_contraseña_segura_aqui@localhost:27018/?authSource=admin
MONGO_MAX_POOL_SIZE=50
MONGO_MIN_POOL_SIZE=10
MONGO_TIMEOUT_MS=5000
MONGO_USE_TLS=false
